<div class="wrapper hold-transition skin-blue sidebar-mini">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Exam List
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Exam</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-xs-12">
          <a routerLink="../create" class="btn">Create New Exam</a>
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Exam List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>ExamID</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exam of pagedItems; let i = index" [attr.data-index]="i" [ngClass]="{'errors': exam.error && exam.status}">
                    <td>{{pager.currentPage==1?i+1:(pager.currentPage-1)+""+(i+1)}}</td>
                    <td>{{exam.examID}}</td>
                    <td>{{exam.isTest==='true'?"use for test":"use for training"}}</td>
                    <td>
                      <a routerLink="../edit/{{exam.examID}}" *ngIf="exam.error && exam.status" style="color: #f12d15; margin-right: 10px;">
                        <span class="fa fa-exclamation-triangle"></span>
                      </a>
                      <a style="margin-right: 10px;" routerLink="../test/{{exam.examID}}" *ngIf="!exam.error && exam.status">
                        <span class="fa fa-eye"></span>
                      </a>
                      <a style="margin-right: 10px;" routerLink="../edit/{{exam.examID}}" *ngIf="!exam.error && exam.status">
                        <span class="fa fa-pencil"></span>
                      </a>
                      <a style="margin-right: 10px;" (click)="deleteExam(exam)" *ngIf="exam.status">
                        <span class="fa fa-trash-o"></span>
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="pager.totalItems <= 0">
                    <td colspan="4" style="text-align: center;">No data available in table.</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-5">
                  <div class="tableInfo">Showing {{pager.startIndex
                    <0?0:(pager.startIndex + 1)}} to {{pager.endIndex + 1}} of {{pager.totalItems}} entries</div>
                  </div>
                  <div class="col-sm-7">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>

        <!-- /.row -->

    </section>
    <!-- /.content -->
    </div>

  </div>
