<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="ft-logo">
          <img src="../../../assets/logo/logo-toeic.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="ft-title">
          <h3>ABOUT US</h3>
        </div>
        <hr class="line-param" />
        <div class="ft-param">
          <p>TMA Solutions was established in 1997 to provide quality software outsourcing services to leading companies worldwide.
            We are one of the largest software outsourcing companies in Vietnam with 2,200 engineers. Our engineering team
            was selected from a large pool of Vietnam IT resources; they are well-trained and have successfully completed
            many large and complex projects.</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="ft-title">
          <h3>PAGE</h3>
        </div>
        <hr class="line-param">
        <div class="ft-param">
          <ul>
            <li>
              <a href="home">Home</a>
            </li>
            <li>
              <a href="test">Test</a>
            </li>
            <li>
              <a href="training">Training</a>
            </li>
            <li>
              <a href="#">Schedule</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <div class="ft-icon">
              <i class="glyphicon glyphicon-home"></i>
            </div>
            <div class="ft-info">
              <div class="ft-info-title">
                <h4>ADDRESS</h4>
              </div>
              <div class="ft-info-content ft-param">
                <p>Quang Trung Software City, HCM city, Viet Nam</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ft-icon">
              <i class="glyphicon glyphicon-phone"></i>
            </div>
            <div class="ft-info">
              <div class="ft-info-title">
                <h4>PHONE</h4>
              </div>
              <div class="ft-info-content ft-param">
                <p>123-1234-12345</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ft-icon">
              <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="ft-info">
              <div class="ft-info-title">
                <h4>EMAIL</h4>
              </div>
              <div class="ft-info-content ft-param">
                <p>gtntan@tma.com.vn</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
